@using OgrenciNotMvc.Models.EntityFramework
@model List<TblKulupler>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>Kulüp ID</th>
        <th>Kulüp Adı</th>
        <th>İşlemler</th>
    </tr>
    <tbody>
        @foreach (var klp in Model)
        {
            <tr>
                <td>@klp.KulupID</td>
                <td>@klp.KulupAd</td>
                <td><a href="/Kulupler/Sil/@klp.KulupID" class="btn btn-danger">Sil</a>
                <a href="/Kulupler/KulupGetir/@klp.KulupID" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Kulupler/YeniKulup" class="btn btn-primary">Yeni Kulüp Kaydı</a>


